<%- include('header') %>
    <div class="result">
        <% if (error) { %>
        <%= error %>
        <% }else{ %>
        <%= quantidade%> dólares na Cotação <%= cotacao %> é = <%= conversao%> reais.
        <% } %>
    </div>
<%- include('footer') %>